bin/
obj/

*.user
*.suo
*.vsconfig

.vs/
.idea/
*.vscode/

logs/
*.log
*.tlog
*.cache/
*.pdb

appsettings.Development.json
appsettings.Local.json
secrets.json

Migrations/

project.lock.json
packages/

Thumbs.db
Desktop.ini

.dockerignore
.env

appsettings.json
appsettings.*.json
*.csproj.user
Folder.DotSettings/
Folder.DotSettings.user
.idea/